/* I M P O R T S
-------------------------------------------------------------------------------*/
@import 'reset';


/* V A R I A B L E S
-------------------------------------------------------------------------------*/
$min-height: 300px;


/* F O N T S
-------------------------------------------------------------------------------*/
@font-face {
  font-family: 'NeoNoire';
  src: url('../fonts/SNNeoNoire-Regular.ttf') format('truetype');
}


/* S T Y L E S
-------------------------------------------------------------------------------*/
html,
body {
  overflow: hidden;
}

body {
  font: 13px Helmet, Freesans, sans-serif;
}

  body.home-page {
    background: url('../img/dv_background.gif');
    border-top: 10px solid #333;
  }

h1,h2,h3,h4,h5,h6 {
  font-family: 'NeoNoire', Arial;
}

.wrapper {
  margin: 50px auto 0;
  min-height: $min-height;
  position: relative;
  width: 70%;  
}

header {
  background: url('../img/dv_sunset.png') no-repeat top left;
  background-size: cover;
  left: 0;
  margin: 0 auto;
  min-height: $min-height;
  padding: 75px 0 0;
  //position: absolute;
  top: 0;
  width: 300px;


  h1 {
    background: url('../img/dv_logo.png');
    min-height: 164px;
    text-indent: -9999px;
  }
}


/* O V E R L A Y - C A R O U S E L
-------------------------------------------------------------------------------*/
.carousel-parent {
  background: #FFD701;
  background: -webkit-linear-gradient(top right, #FFD701, #FF2904);
  background: -moz-linear-gradient(top right, #FFD701, #FF2904);
  background: linear-gradient(to bottom left, #FFD701, #FF2904);
  min-height: 160px;
  position: relative;
  width: 468px;

  .carousel {
    position: relative;
  }

  .carousel-container  {    
    h1 {
      color: #fff;
      font-size: 30px;
      letter-spacing: 1.5px;
      line-height: 30px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 23px;
      animation:spin 20s linear infinite;
      width: 100%;     
      &.pink {
        color: #ff00f0;
        top: 26px;
        left: -3px;
      }
      &.black {
        color: #000;
        top: 29px;
        left: -6px;
      }
    }      

    h2 {
      color:  #fff;
      position: absolute;
      text-align: center;
      font-size:  17px;
      top: 75px;
      letter-spacing: 2px;
      width: 100%;
      animation:fadeIn 20s linear infinite;      
      &.sub-color {
        color: #000;
        left: -2px;
        top:  77px;
      }
    }
  }

  .subscriber-goal {
    border-top: 1px solid #333;
    position: absolute;
    top: 110px;
    height: 50px;
    width: 100%;
    font-size: 15px;
    background: #3E00CF;
    background: -webkit-linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    background: -moz-linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    background: linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    
    h1 {
      text-align: center;
      position: absolute;
      top: 15px;
      width: 100%;
      color: #fff;
      letter-spacing: 1.5px;
      &.pink {
        color: #ff00f0;      
        left: -2px;
        top: 17px;
      }
      &.black {
        color: #000;      
        left: -4px;
        top: 19px;
      }
    
      span.goalnums {
        display: inline-block;
        padding-left: 60px;
      }
    }
  }
}


/* O V E R L A Y - C A R O U S E L ( S M A L L )
-------------------------------------------------------------------------------*/
.carousel-small-parent {
  background: #FFD701;
  background: -webkit-linear-gradient(top right, #FFD701, #FF2904);
  background: -moz-linear-gradient(top right, #FFD701, #FF2904);
  background: linear-gradient(to bottom left, #FFD701, #FF2904);
  min-height: 125px;
  position: relative;
  width: 350px;

  
  .carousel {
    position: relative;
  }

  .carousel-container  {    
    h1 {
      color: #fff;
      font-size: 20px;
      letter-spacing: 1.5px;
      line-height: 20px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 17px;
      animation:spin 20s linear infinite;
      width: 100%;     
      &.pink {
        color: #ff00f0;
        top: 19px;
        left: -2px;
      }
      &.black {
        color: #000;
        top: 21px;
        left: -4px;
      }
    }      

    h2 {
      color:  #fff;
      position: absolute;
      text-align: center;
      font-size:  12px;
      top: 55px;
      letter-spacing: 2px;
      width: 100%;
      animation:fadeIn 20s linear infinite;      
      &.sub-color {
        color: #000;
        left: -2px;
        top:  57px;
      }
    }
  }

  .subscriber-goal {
    border-top: 1px solid #333;
    position: absolute;
    //top: 110px;
    bottom: 0;
    height: 40px;
    width: 100%;
    font-size:  12px;
    background: #3E00CF;
    background: -webkit-linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    background: -moz-linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    background: linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    
    h1 {
      text-align: center;
      position: absolute;
      top: 12px;
      width: 100%;
      color: #fff;
      letter-spacing: 1.5px;
      &.pink {
        color: #ff00f0;      
        left: -2px;
        top: 14px;
      }
      &.black {
        color: #000;      
        left: -4px;
        top: 16px;
      }
    
      span.goalnums {
        display: inline-block;
        padding-left: 60px;
      }
    }
  }

}



/* keyframe animations
-------------------------------------------------------------------------------*/

@keyframes spin { 
  0%   { transform:rotateX(90deg); }
  10%  { transform:rotateX(0deg);  }
  90%  { transform:rotateX(0deg);  }
  100% { transform:rotateX(90deg); } 
}

@keyframes fadeIn { 
  0%   { opacity:0; }
  5%   { opacity:1; }
  95%  { opacity:1; }
  100% { opacity:0; }
}


video {
  //display: none;
  filter:opacity(75%);
}


/* Small Bar
-------------------------------------------------------------------------------*/

.overlay-bar {

  background-image: url('../img/dv_background.gif');
  height: 35px;
  position: relative;
  width: 1920px;
  border-bottom: 1px solid #666;

  .main-bar {

    padding-left: 40px;

    .main-item {
      display: inline-block;
      float:left;
      height: 35px;
      position: relative;

      &.commands {
        width: 70px;
        margin: 0;
      }

      &.discord,
      &.socials {
        width: 100px;
      }

      &.lurk,
      &.sfx {
        width: 75px;
      }      

      &.follow,
      &.sub,
      &.cheer {
        background: url('../img/dv_overlay_separator.png') no-repeat top left;
        width: 350px;
        margin-left: 10px;

        h1 {
          left: 30px;
          top: 14px;
          font-size: 10px;
          letter-spacing: 1px;
          
          &.grey {
            top: 15px;
            left: 29px;
          }

          &.black {
            top: 16px;
            left: 28px;
          }

        }


        h2 {
          position: absolute;
          left: 113px;
          top: 11px;
          color: #fff;

          &.pink {
            color: #ff00f0;
            top: 12px;
            left: 112px;
          }

          &.black {
            color: #000;
            top: 14px;
            left: 111px;
          }
        }
      }

      &.sub {
        margin-left: 0;
         h2 {
          left: 130px;

          &.pink {
            left: 129px;
          }

          &.black {
            left: 128px;
          }
        }
      }

      &.cheer {
        margin-left: 0;
        width: 400px;
         h2 {
          left: 120px;

          &.pink {
            left: 119px;
          }

          &.black {
            left: 118px;
          }
        }
      }    


      h1 {
        position: absolute;
        color: #fff;
        top: 9px;
      }

      h1.grey {
        top: 10px;
        left: -1px;
        margin-top: 0;
        color: #2b336f;
        z-index: 0;
      }

      h1.black {
        top: 11px;
        left: -2px;
        margin-top: 0;
        color: #000;
        z-index: 0;
      }
    }
  }

  .subscriber-goal {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35px;
    width: 350px;
    font-size:  12px;
    background: linear-gradient(to bottom left, #A604CF 0%, #2b336f 100%);
    
    h1 {
      text-align: center;
      position: absolute;
      width: 350px;
      color: #fff;
      letter-spacing: 1.5px;
      top: 9px;
      &.pink {
        color: #ff00f0;      
        left: -2px;
        top: 11px;
      }
      &.black {
        color: #000;      
        left: -4px;
        top: 13px;
      }
    
      span.goalnums {
        display: inline-block;
        padding-left: 60px; 
      }
    }
  }

}



/* Lahge Bah
-------------------------------------------------------------------------------*/

.overlay-bar_large {

  background-image: url('../img/dv_background.gif');
  height: 50px;
  position: relative;
  width: 1930px;
  border-bottom: 1px solid #666;

  .main-bar {

    padding-left: 20px;

    .main-item {
      display: inline-block;
      float:left;
      height: 50px;
      position: relative;

      &.commands {
        width: 80px;
        margin: 0;
      }

      &.discord {
        width: 120px;
      }
      

      &.socials {
        width: 110px
      }

      &.lurk,
      &.sfx {
        width: 75px;
      }      

      &.follow,
      &.sub,
      &.cheer {
        // background: url('../img/dv_overlay_separator.png') no-repeat top left;
        // background-size: cover;
        width: 370px;
        margin-left: 10px;

        img {
          min-height: 100%;
        }

        h1 {
          left: 35px;
          top: 22px;
          font-size: 10px;
          letter-spacing: 1px;
          
          &.grey {
            top: 23px;
            left: 34px;
          }

          &.black {
            top: 24px;
            left: 33px;
          }

        }


        h2 {
          position: absolute;
          left: 120px;
          top: 14px;
          color: #fff;
          font-size: 17px;

          &.pink {
            color: #ff00f0;
            top: 15px;
            left: 119px;
          }

          &.black {
            color: #000;
            top: 18px;
            left: 117px;
          }
        }
      }

      &.sub {
        margin-left: 0;
         h2 {
          left: 137px;

          &.pink {
            left: 136px;
          }

          &.black {
            left: 133px;
          }
        }
      }

      &.cheer {
        margin-left: 0;
        width: 410px;
         h2 {
          left: 130px;

          &.pink {
            left: 129px;
          }

          &.black {
            left: 127px;
          }
        }
      }    


      h1 {
        position: absolute;
        color: #fff;
        top: 14px;
        font-size: 17px;
      }

      h1.grey {
        top: 15px;
        left: -1px;
        margin-top: 0;
        color: #2b336f;
        z-index: 0;
      }

      h1.black {
        top: 17px;
        left: -3px;
        margin-top: 0;
        color: #000;
        z-index: 0;
      }
    }
  }

  .subscriber-goal {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 350px;
    background: linear-gradient(to bottom left, #A604CF 0%, #2b336f 100%);
    
    h1 {
      text-align: center;
      position: absolute;
      font-size: 17px;
      width: 350px;
      color: #fff;
      letter-spacing: 1.5px;
      top: 14px;
      &.pink {
        color: #ff00f0;      
        left: -2px;
        top: 15px;
      }
      &.black {
        color: #000;      
        left: -5px;
        top: 17px;
      }
    
      span.goalnums {
        display: inline-block;
        padding-left: 60px;
      }
    }
  }

}


/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {


}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}