/* I M P O R T S
-------------------------------------------------------------------------------*/
@import 'reset';


/* V A R I A B L E S
-------------------------------------------------------------------------------*/
$min-height: 300px;


/* F O N T S
-------------------------------------------------------------------------------*/
@font-face {
  font-family: 'NeoNoire';
  src: url('../fonts/SNNeoNoire-Regular.ttf') format('truetype');
}


/* S T Y L E S
-------------------------------------------------------------------------------*/
html,
body {
  overflow: hidden;
}

body {
  font: 13px Helmet, Freesans, sans-serif;
}

  body.home-page {
    background: url('../img/dv_background.gif');
    border-top: 10px solid #333;
  }

h1,h2,h3,h4,h5,h6 {
  font-family: 'NeoNoire', Arial;
}

.wrapper {
  margin: 50px auto 0;
  min-height: $min-height;
  position: relative;
  width: 70%;  
}

header {
  background: url('../img/dv_sunset.png') no-repeat top left;
  background-size: cover;
  left: 0;
  margin: 0 auto;
  min-height: $min-height;
  padding: 75px 0 0;
  //position: absolute;
  top: 0;
  width: 300px;


  h1 {
    background: url('../img/dv_logo.png');
    min-height: 164px;
    text-indent: -9999px;
  }
}


/* O V E R L A Y - C A R O U S E L
-------------------------------------------------------------------------------*/
.carousel-parent {
  background: #FFD701;
  background: -webkit-linear-gradient(top right, #FFD701, #FF2904);
  background: -moz-linear-gradient(top right, #FFD701, #FF2904);
  background: linear-gradient(to bottom left, #FFD701, #FF2904);
  min-height: 160px;
  position: relative;
  width: 468px;

  .carousel {
    position: relative;
  }

  .carousel-container  {    
    h1 {
      color: #fff;
      font-size: 30px;
      letter-spacing: 1.5px;
      line-height: 30px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 23px;
      animation:spin 20s linear infinite;
      width: 100%;     
      &.pink {
        color: #ff00f0;
        top: 26px;
        left: -3px;
      }
      &.black {
        color: #000;
        top: 29px;
        left: -6px;
      }
    }      

    h2 {
      color:  #fff;
      position: absolute;
      text-align: center;
      font-size:  17px;
      top: 75px;
      letter-spacing: 2px;
      width: 100%;
      animation:fadeIn 20s linear infinite;      
      &.sub-color {
        color: #000;
        left: -2px;
        top:  77px;
      }
    }
  }

  .subscriber-goal {
    border-top: 1px solid #333;
    position: absolute;
    top: 110px;
    height: 50px;
    width: 100%;
    font-size: 15px;
    background: #3E00CF;
    background: -webkit-linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    background: -moz-linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    background: linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    
    h1 {
      text-align: center;
      position: absolute;
      top: 15px;
      width: 100%;
      color: #fff;
      letter-spacing: 1.5px;
      &.pink {
        color: #ff00f0;      
        left: -2px;
        top: 17px;
      }
      &.black {
        color: #000;      
        left: -4px;
        top: 19px;
      }
    
      span.goalnums {
        display: inline-block;
        padding-left: 60px;
      }
    }
  }
}


/* O V E R L A Y - C A R O U S E L ( S M A L L )
-------------------------------------------------------------------------------*/
.carousel-small-parent {
  background: #FFD701;
  background: -webkit-linear-gradient(top right, #FFD701, #FF2904);
  background: -moz-linear-gradient(top right, #FFD701, #FF2904);
  background: linear-gradient(to bottom left, #FFD701, #FF2904);
  min-height: 125px;
  position: relative;
  width: 350px;

  
  .carousel {
    position: relative;
  }

  .carousel-container  {    
    h1 {
      color: #fff;
      font-size: 20px;
      letter-spacing: 1.5px;
      line-height: 20px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 17px;
      animation:spin 20s linear infinite;
      width: 100%;     
      &.pink {
        color: #ff00f0;
        top: 19px;
        left: -2px;
      }
      &.black {
        color: #000;
        top: 21px;
        left: -4px;
      }
    }      

    h2 {
      color:  #fff;
      position: absolute;
      text-align: center;
      font-size:  12px;
      top: 55px;
      letter-spacing: 2px;
      width: 100%;
      animation:fadeIn 20s linear infinite;      
      &.sub-color {
        color: #000;
        left: -2px;
        top:  57px;
      }
    }
  }

  .subscriber-goal {
    border-top: 1px solid #333;
    position: absolute;
    //top: 110px;
    bottom: 0;
    height: 40px;
    width: 100%;
    font-size:  12px;
    background: #3E00CF;
    background: -webkit-linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    background: -moz-linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    background: linear-gradient(to top right, #3E00CF 0%, #A604CF 100%);
    
    h1 {
      text-align: center;
      position: absolute;
      top: 12px;
      width: 100%;
      color: #fff;
      letter-spacing: 1.5px;
      &.pink {
        color: #ff00f0;      
        left: -2px;
        top: 14px;
      }
      &.black {
        color: #000;      
        left: -4px;
        top: 16px;
      }
    
      span.goalnums {
        display: inline-block;
        padding-left: 60px;
      }
    }
  }

}

/* keyframe animations
-------------------------------------------------------------------------------*/

@keyframes spin { 
  0%   { transform:rotateX(90deg); }
  10%  { transform:rotateX(0deg);  }
  90%  { transform:rotateX(0deg);  }
  100% { transform:rotateX(90deg); } 
}

@keyframes fadeIn { 
  0%   { opacity:0; }
  5%   { opacity:1; }
  95%  { opacity:1; }
  100% { opacity:0; }
}



/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {


}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}